[2016-01-27 18:29] davidak opened #4 "can't handle encrypted ssh keys"
i don't know a good solution, so just show a meaningful error message and fail if `$HOME/.ssh/id_rsa` contains "ENCRYPTED".

current output:

[code]

same for https://github.com/drone-plugins/drone-rsync and maybe sftp.

[2016-05-16 09:08] liveforeverx opened #6 "How to copy build artefacts with ssh plugin?"
I've checked all plugins and can't find how to simply copy build artefacts with scp. Is it possible with ssh plugin?

[2016-05-25 08:03] pdxjohnny commented on #6
Use the sftp plugin I believe would be the right way

[2016-05-25 08:07] pdxjohnny opened #7 "Unmarshal error on start"
[code]

This is my deploy using ssh plugin

[code]

What is the significance of `vagrs`?

[2016-07-11 18:17] tboerger commented on #6
This plugin is just for remote command execution. You have to use plugins like rsync for that.

[2016-07-11 18:17] #6 closed

[2016-07-11 18:38] tboerger opened #9 "Reintegrate .env autoloading"
We should reenable `_ "github.com/joho/godotenv/autoload"` within the plugin for 0.5, but with some limitations to prevent any leak for pull requests.

[2016-07-11 18:52] tboerger commented on #9
Will be solved differently.

[2016-07-11 18:52] #9 closed

[2016-08-06 11:52] euclid1990 opened #11 "How to pass default environment variables into custom ssh-plugin"
#### I faced this problem when custom plugins

Step 1: I have forked this repo: https://github.com/drone-plugins/drone-ssh
Step 2: I run followings command to build `/drone-ssh` binary
[code]
Step 3: I built docker image with command: `docker build -t euclid1990/drone-ssh .`
Step 4: I have been configured my `.drone.yml` in my source code with custom image/plugins:
[code]
Step 5: I run drone exec

[2016-08-06 11:57] euclid1990 commented on #11
@bradrydzewski Can you help me !

[2016-08-06 21:59] tboerger commented on #11
Since you are using the --deploy option it looks like you try to execute a 0.5 plugin with 0.4 cli. This won't work.

The plugin for version 0.4 is within the release/0.4 branch.

[2016-08-06 22:01] tboerger commented on #11
The environment variable is named SSH KEY or PLUGIN_SSH_KEY

[2016-08-07 01:05] euclid1990 commented on #11
@tboerger Thank you, I will try it later

[2016-08-07 01:16] #11 closed

[2016-08-24 11:16] steve-gray opened #15 "Add Pre/Post SCP Paths"
@tboerger  / @bradrydzewski

To make the SSH plugin useful for a CI pipeline, rather than just raw 'put it somewhere else, then call it down from the target server' behaviour, this plugin needs some means to interact with the workspace. The most logical approach to this I can see is:

- Before calling the commands, copy a set of files up using the scp module. Could be passed as a list of paths/glo

[2016-08-24 14:59] tboerger commented on #15
That won't get into this plugin. The plugins are built for a single purpose, if you need to copy files use the rsync or sftp plugins and execute ssh afterwards

[2016-08-24 15:44] bradrydzewski commented on #15
@steve-gray the rsync plugin can be used to copy files to a server and execute a command after the file transfer is complete:

[code]

you can also use the ssh and rsync plugin together for more advanced workflows:

[code]

or you can use ssh commands directly from steps in your build script which gives you total control over file transfer and command execution:

[code]

If these examples aren't q

[2016-08-24 15:44] #15 closed

[2016-08-26 23:18] bradrydzewski opened #16 "Cannot use commands with 0.5, reserved keyword"
Suggest using `script` instead ?

[2016-08-26 23:19] bradrydzewski commented on #7
Closing since plugin is upgraded to 0.5 and no longer uses Jason to provide configuration parameters to the plugin

[2016-08-26 23:19] #7 closed

[2016-08-26 23:24] keslerm commented on #16
how about `execute` ?

[2016-08-27 03:14] keslerm commented on #16
Needed to get something going locally so I created a PR with what i did https://github.com/drone-plugins/drone-ssh/pull/17

[2016-08-27 07:17] tboerger commented on #16
I'm fine with execute and already have my LGTM for #17 to solve this issue

[2016-09-19 02:12] parrotmac opened #18 "Drone: Can't Connect Without Private SSH Key"
Relevant section of my .drone.yml
[code]

Drone Outputs this:
[code]

I've copy-pasted the Public Key that shows under the Settings tab into my ~/.authorized_keys on my host machine, and it really _looks_ like there are private keys in the /var/lib/drone/drone.sqlite database.

[2016-09-19 06:43] Bugagazavr commented on #18
Did you set your private key?

[code]

[2016-09-19 06:52] tboerger commented on #18
It sounds like you try to use the 0.5 plugin on a 0.4 server. The 0.5 server doesn't provide any ssh key.

[2016-09-19 09:36] parrotmac commented on #18
Is there any way to use the 0.4 plugin? Tagging :0.4 fails

[2016-09-19 10:49] tboerger commented on #18
plugins/drone-docker is 0.4, plugins/docker is 0.5 :)

[2016-09-19 16:33] parrotmac commented on #18
@tboerger I probably wasn't very clear :) Is there a way to use the equivalent of `plugins/ssh:0.4` since I'm using a 0.4 server?

[2016-09-19 20:13] tboerger commented on #18
Just use `plugins/drone-ssh`, for 0.4 we had the convention to name the images `plugins/drone-foo` while it have been changed for 0.5 to `plugins/foo`. All plugins should have a `release/0.4` branch and for this plugin you can see the docs at https://github.com/drone-plugins/drone-ssh/blob/release/0.4/DOCS.md

I will close this issue since it's just mixing 0.5 plugins with a 0.4 server. If you sti

[2016-09-19 20:13] #18 closed

[2016-11-02 13:05] steve-gray opened #19 "Cannot Use Secrets with Script for SSH Plugin"
I've found that it's seemingly impossible to use secrets scoped to the SSH plugin with the script/commands section on 0.5 I'm guessing that the secrets are now only injected as parameters to the container, and not actually woven through the interpolated YAML (nor is there some means that I can seemingly find from the plugin side to trigger this interpolation into the script before submission to th

[2016-12-01 12:03] dgonzalez opened #20 "Support for private key path instead of private key"
Instead of creating a secret with the private key, it would be amazing if you would support as well the path for were the key is stored (like /home/user/.ssh/id_rsa) and read that from the disk. This prevents the key from leaking out of the machine running drone.

[2016-12-01 12:06] dgonzalez commented on #20
Nevermind. I saw the secret thing where it is stored in drone itself.

[2016-12-01 12:06] #20 closed

[2016-12-08 06:36] tboerger commented on #4
We are printing what we get and this is the error from go which tries to parse your key.

[2016-12-08 09:23] davidak commented on #4
@tboerger Ah, i see. So https://github.com/golang/go/issues/6650 would be the right place to report.

But it's fixed in the meantime!

[2016-12-08 09:23] #4 closed

[2016-12-08 10:20] tboerger commented on #4
So hopefully we get a better error message with a newer go version

[2016-12-08 15:47] dgonzalez opened #22 "Default example being ignored (drone 0.4)"
This is my `.drone.yaml` file:

[code]

The ssh section never gets executed but not sure exactly why (push to master, no PR and the build finishes with success).

[2016-12-08 16:11] #22 closed

[2017-01-22 13:19] #16 closed

[2017-01-22 13:42] appleboy commented on #19
@steve-gray update your drone to the latest version and try to add your secret via drone command line. You can use the secret on `secret` section.

[code]

in `.drone.yml`

[code]

[2017-01-22 13:44] appleboy opened #26 "Move plugins/ssh to appleboy/drone-ssh on docker hub."
As title.

[2017-01-22 14:09] appleboy opened #27 "Add new version document."
See http://plugins.drone.io/

[2017-01-23 01:59] appleboy opened #28 "Add drone setting"

[2017-01-23 02:27] #28 closed

[2017-01-23 04:08] #26 closed

[2017-01-23 06:36] appleboy opened #31 "Enhancement code coverage."

[2017-01-23 08:00] #31 closed

[2017-01-24 01:15] appleboy opened #33 "Support load from path string of key file."

[2017-01-24 03:28] #33 closed

[2017-01-25 00:30] saintaardvark opened #35 "SSH port gets included twice in SSH command"
Hi there -- we're seeing a bug when using the SSH plugin for drone.  Despite changing the format of .drone.yml a few times, we're consistently seeing this when it runs:

[code]

Note the doubled port in the SSH command -- both ":22" and "-p 22".

The SSH stanza in our .drone.yml file looks like this:

[code]

However, we've also tried explicitly specifying the port:

[code]
and we see the same out

[2017-01-25 00:52] appleboy commented on #35
@saintaardvark Good catch. I will fix this issue.

[2017-01-25 01:17] appleboy commented on #35
@saintaardvark I think this is not a bug since https://github.com/appleboy/drone-ssh/blob/master/plugin.go#L110 just as log message.

BTW. You need to change your docker image from `plugins/ssh` to `appleboy/drone-ssh`. `plugins/ssh` is not maintained yet. You can see the [plugins/ssh docker hub](https://hub.docker.com/r/plugins/ssh/tags/). The latest updated is `5 months ago`.

[2017-01-26 05:29] appleboy commented on #35
This should be closed. If you have any problem, please create another issue.

[2017-01-26 05:29] #35 closed

[2017-01-28 13:51] appleboy opened #37 "Support go routines"

[2017-01-29 04:57] #37 closed

[2017-01-31 13:19] #27 closed

[2017-02-09 05:23] nemonik opened #41 "panic: runtime error: invalid memory address or nil pointer dereference"
For

[code]

After registering my SSH_KEY as a secret via drone cli

[code]

I get out of drone:

[code]

[2017-02-09 05:48] appleboy commented on #41
@nemonik What is your drone version (latest) ?

[2017-02-09 18:58] nemonik commented on #41
Drone v0.5

[code]

[2017-02-10 01:11] appleboy commented on #41
Could you help me try the latest `drone-ssh` image?

[code]

[2017-02-10 12:50] nemonik commented on #41
I did that and also removed the image so it would pull the newest appleboy/drone-ssh.

[code]

[2017-02-10 12:52] nemonik commented on #41
Seems to be the same image as before as per

[code]

[2017-02-14 17:15] nemonik commented on #41
Thoughts?

[2017-02-16 18:15] nemonik commented on #41
If this is a bug I'd be curious to hear what was the problem.

[2017-02-17 00:59] appleboy commented on #41
@nemonik I will test the latest version of drone-ssh and drone server today.

[2017-02-17 01:00] appleboy commented on #41
Maybe a bug or not. I can't confirm without testing..

[2017-02-17 07:19] nemonik commented on #41
if I clone

`go build` after `go get` dependencies it builds.

`go test` fails w/

[code]

But if I docker build as the docs say... It builds the container like so

[code]

And then try to run:

[code]

This is with the private key at the path, and this ~/.ssh/config

[code]

If I `ssh nemonik@example.dev` I authenticate via my key w/o an issue like so:

[code]

[2017-02-18 15:17] appleboy opened #42 "Switch glide to govendor"

[2017-02-18 15:45] #42 closed

[2017-02-19 18:40] olymk2 commented on #41
Just hit this myself, after trying to setup ssh deploy I hit the error  s below.

[code]

[2017-02-21 03:33] appleboy opened #44 "Add `username` alias `user`."

[2017-02-21 03:44] #44 closed

[2017-02-25 06:29] appleboy commented on #41
Can't reproduce this problem.

http://drone.wu-boy.com/appleboy/drone-ssh/72

<img width="893" alt="screen shot 2017-02-25 at 2 28 24 pm" src="https://cloud.githubusercontent.com/assets/21979/23328860/bed761a4-fb66-11e6-92d9-a83335757760.png">

[2017-02-25 06:34] appleboy commented on #41
@nemonik

[code]

Copy content of `id_rsa.pub` into `.ssh/authorized_keys` of `drone-scp` user.

[2017-02-25 09:08] olymk2 commented on #41
@appleboy not sure if this is the same as @neomonik but this is how i am getting the error.

Well this is what i am doing, i have set the SSH_KEY secret on drone to be SSH_KEY=@/home/user/.ssh/id_rsa

Then in my .drone.yml file i pass in the KEY like below and then get the error above.

my understanding is that drone secrets should then provide the key to drone-ssh

[code]
Then i get the error abo

[2017-02-25 09:27] appleboy commented on #41
@olymk2

Change

[code]

to

[code]

remove the double quotes.

[2017-02-25 10:59] olymk2 commented on #41
@appleboy tried that, so i now have the below yaml, the double quotes where based on a suggestion from @bradrydzewski how ever if i remove the quotes i get invalid character in the yaml presumably the @ symbol

[code]

[code]
One thing i would like to clarify is when setting the secret to your ssh key should it be a remote or local file, currently using local because it complains about file not fo

[2017-02-25 12:20] appleboy commented on #41
@olymk2 What is your version of drone? The following config is working for me.

[code]

Try the following changes:

[code]

[2017-02-25 12:43] olymk2 commented on #41
@appleboy that errors as well, I did take out the key: ${SSH_KEY} because as mentioned the yml errors with out the quotes.

[code]

It feels a bit like the issue might be with secrets, did you specify your SSH_KEY above with drones secrets command and using @ to point at the file ?

I am running the latest drone compiled last night.

[2017-02-25 13:19] appleboy commented on #41
@olymk2 My secret command as the following:

[code]

[2017-02-25 14:24] olymk2 commented on #41
Thanks for persevering @appleboy it seems --skip-verify is the key, perhaps an error message would help going forward, not sure if drone or drone-ssh should do that.

looking at @nemonik command at the top --skip-verify has not been provided so this maybe the difference thats triggering this error.

[2017-02-25 14:30] appleboy commented on #41
@olymk2 Please make sure that resign drone sig file if you don't use `--skip-verify` flag.

[code]

[2017-02-26 04:04] mochipon commented on #41
Apparently this bug seems to be related to the type of SSH key.
I can reproduce this bug with using a ECDSA-type SSH key.

@appleboy
You seem to be using your own `id_rsa`, but could you please try using `id_ecdsa`?

[2017-02-26 04:42] appleboy commented on #41
I think we support `ECDSA-type` SSH key. Please see the following specs.

https://sourcegraph.com/github.com/appleboy/drone-ssh@fdc7a43f735b044d4810fa41e365f9cd2a2fd603/-/blob/vendor/golang.org/x/crypto/ssh/keys.go#L767:1-770:1

I will try it asap.

[2017-02-27 05:14] PeterCat12 commented on #41
I am experiencing this issue also. For reference I am using a ssh key generated by AWS for an ec2 instance (not sure what type of key they use).

[2017-02-27 05:20] bradrydzewski commented on #41
my recommendation would be that someone add a unit test for the type of key they think is failing to parse and/or panic https://github.com/appleboy/drone-ssh/blob/master/plugin_test.go

this should be easily provable

[2017-02-27 17:35] nemonik commented on #41
Just getting back to this...

[2017-02-27 17:47] nemonik commented on #41
So

[code]

Modified for my environment works returning:

[code]

[2017-02-27 17:49] appleboy commented on #41
@nemonik So maybe we can close this issue?

[2017-02-27 18:11] nemonik commented on #41
Not yet... working from top to bottom...

[code]

blows up like before using:

[code]

still working my way down...

[2017-02-27 19:42] nemonik commented on #41
Okay every step:

[code]

[code]

Then `ls -las ~/.ssh` returns:

[code]

Add the private kek:

[code]

View via `drone secret ls Ephemeral/nodejs-helloworld` returns:

[code]

Sign my project:

[code]

For this .drone.yml:

[code]

I get:

[code]

For `drone/drone:0.5`.

If I run `appleboy/drone-ssh` on the commandline like so

[code]

I get:

[code]

[2017-02-27 19:45] nemonik commented on #41
Am I missing something like fundamentally stupid?

[2017-02-27 22:27] nemonik commented on #41
Cloned and added debugging `fmt.Println`'s and then determined  I needed `--image=ephemeral/drone-ssh` in the `drone secret add`.

[code]

[2017-02-27 22:32] nemonik commented on #41
Still getting same

[code]

error. GRRRR.

[2017-02-28 15:51] PeterCat12 commented on #41
I am confused why your `image` in `drone secret add --image=ephemeral/drone-ssh Ephemeral/nodejs-helloworld SSH_KEY @/home/nemonik/.ssh/ephemeral` should not be `--image=appleboy/drone-ssh`? Wouldn't your `drone.yml` also have to use `ephemeral/drone-ssh` as an image? It was my understanding that the image specified in the `drone.yml`should match the one you specify in the `drone secret add` comma

[2017-02-28 15:55] PeterCat12 commented on #41
In addition, I cannot tell what I am doing differently from nemonik but I keep getting
`drone-ssh error:  ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain
ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain`

I assume this means my key is not being properly injected in

[2017-02-28 16:30] nemonik commented on #41
@PeterCat12, I clone the repo, added logging to print out `p` inside the Exec function in plugin.go to verify envs were being passed,  then built the image.

I added SSH_KEY_PATH and SSH_KEY secrets via drone respectfully like so

[code]

Passing SSH_KEY_PATH ephemeral/drone-ssh spits out

[code]

for .drone.yml entry

[code]

And then for the SSH_KEY

[code]

for .drone.yml entry

[code]

[2017-02-28 16:39] nemonik commented on #41
Notice in prior comment in both instances the plugin.go code favored the KeyPath because I had left both the SSH_KEY_PATH and SSH_KEY as drone secrets, but if I re-run after removing the SSH_KEY_PATH secret the plugin spits out

[code]

[2017-02-28 17:11] PeterCat12 commented on #41
Ah. Apologies. The fact that you cloned the repo went right by me. Isn't this only verifying that the `config` is successfully being changed and not that the resulting docker image holds the correct environment variables? That is what I am interested in. Since my version of ```docker run --rm -e PLUGIN_HOST=example.dev -e PLUGIN_USER=nemonik -e PLUGIN_KEY="$(cat /home/nemonik/.ssh/ephemeral)" -e P

[2017-02-28 17:52] nemonik commented on #41
Same here works fine when you run from docker, but not through drone...

I'm now working through what github.com/appleboy/drone-ssh/easyssh is doing when it gets called...

What is your host OS?  Mine is CentOS Linux release 7.3.1611 (Core).

[2017-02-28 19:15] PeterCat12 commented on #41
host OS is a Ubuntu 16.04.1 LTS.

[2017-02-28 21:11] nemonik commented on #41
I copied my private key out of /home/nemonik/.ssh/ephemeral to /home/nemonik and changed group and other rights to permit reading the key, and then triggered a build... This time the SSH_KEY env is holding the contents of my private key vice not.

Printing out the env variables
[code]

`p` in plugin.go is

[code]

still getting

[code]

After modifiying plugin.go to use the /easyssh vice the githh

[2017-03-02 04:49] andrewmclagan opened #48 "Examples of config with key or keyPath"
It would be beneficial to include an example of how to use the `key` and `keyPath` yaml configuration option.

[2017-03-02 05:43] appleboy commented on #48
I will add more example in the [docs](http://plugins.drone.io/appleboy/drone-ssh/).

[2017-03-02 13:47] webpolis opened #49 "can't connect without a private SSH key or password"
Hi

This is my current configuration in my CI instance:

[code]

and my _.drone.yml_'s ssh section looks like

[code]
I have that _/root/..._ path attached to the drone image via the _volume_ setting in my docker-compose.yml, and the different environments .key files are available, but Drone still fails to proceed with the build:

[code]

Can anyone tell me what I'm doing wrong?

Thanks in advance

[2017-03-03 07:48] appleboy commented on #49
Change `keyPath` to `key_path`

[code]

[2017-03-03 08:11] #48 closed

[2017-03-03 08:11] appleboy commented on #48
See https://github.com/appleboy/drone-ssh/blob/master/DOCS.md

[2017-03-03 13:59] webpolis commented on #49
@appleboy I tried that before I opened this issue

[2017-03-03 14:46] webpolis commented on #49
Ok, since the latest version uses 2 images (server and agent), I originally mounted the keys at server, but it should be mounted on the agent

[2017-03-03 14:46] #49 closed

[2017-03-03 14:51] webpolis opened #51 "Key not used during SSH handshake"
I have my *key_path* set and properly mounted, but it seems it's not even used during SSH handshake:

[code]

This is how the pipeline looks like:

[code]

And my docker-compose.yml:

[code]

Of course, the _.key_ file is present:

[code]

[2017-03-03 16:39] nemonik commented on #41
@PeterCat12 and @appleboy:

So, awoke with the solution.

If you set a `SHH_KEY` secret like so

[code]

And then set up the pipeline like so:

[code]

The container/plugin will have an SSH_KEY environmental variable containing the text of your private key, but a PLUGIN_KEY environmental variable containing, well, ${SSH_KEY}.  The SSH_KEY environmental variable is ignored, but the PLUGIN_KEY envir

[2017-03-03 17:02] PeterCat12 commented on #41
Can't wait to get home and test this!!! Thanks so much @nemonik.

[2017-03-04 01:44] appleboy commented on #41
@nemonik @PeterCat12

How do you guys install drone server? Docker or build binary by yourself?

[2017-03-04 06:41] appleboy opened #52 "Support command timeout flag."
https://github.com/appleboy/easyssh-proxy

[2017-03-04 09:50] #52 closed

[2017-03-04 09:50] appleboy opened #54 "Support Proxy Command Setting."

[2017-03-04 10:31] #54 closed

[2017-03-04 21:13] PeterCat12 commented on #41
@appleboy I installed it per the documentation tutorial for drone 0.5:
 http://readme.drone.io/0.5/install/server/

[2017-03-04 22:01] PeterCat12 commented on #41
@nemonik, @appleboy  unfortunately I am still not able to load up my private key to the docker container:
`drone-ssh error:  ssh: handshake failed: ssh: unable to authenticate, attempted methods [publickey none], no supported methods remain
ssh: handshake failed: ssh: unable to authenticate, attempted methods [publickey none], no supported methods remain`

My yml:
[code]
My secret command:
`drone

[2017-03-04 22:24] PeterCat12 commented on #51
I seem to be experiencing this issue as well..

[2017-03-05 00:25] PeterCat12 commented on #41
Cloned and am printing out my p.Config. My key is successfully being set with the following drone.yml:
[code]

printing out my config locally and on my drone server yields identical results.
[code]
It seems that @nemonik is correct in that I don't have to set my `key` in the drone .yml. However, I am still getting `handshake failed: ssh: unable to authenticate, attempted methods [none publickey],

[2017-03-05 01:12] PeterCat12 commented on #41
JESUS. One of the biggest face palm moments of my life. I was specifying the same host ec2 instance as the one drone was running on and NOT the target ec2 instance where I wanted to SSH into. Seems Drone does not like to do that whereas ssh-ing back into the same box outside of drone works fine.

[2017-03-05 11:22] xenji commented on #51
I would set the file permissions 0600 and give that a try. openssh is strict about the key security. If that still does not work, I would also assume a bug.

[2017-03-05 13:32] appleboy commented on #51
Please set file permission as `400`.

[2017-03-25 15:18] appleboy opened #59 "Update easyssh-proxy to 1.1.1 version"
https://github.com/appleboy/easyssh-proxy

[2017-03-31 21:16] SAprelov opened #60 "Can't use comma in script/commands"
Dunno is it correct or not, but this line in my script section:
[code]
always transforms in:
[code]
Guessing because of StringSlice call in https://github.com/appleboy/drone-ssh/blob/master/main.go#L171

 But i need these commas. They must remain. Can i escape commas? Any solution?

[2017-04-01 05:57] #59 closed

[2017-04-01 11:19] appleboy commented on #60
@SAprelov maybe you should change commas to another symbol. This https://github.com/urfave/cli/pull/605 can resolve your problem but author of `urfave/cli` doesn't merged yet.

[2017-04-01 11:50] SAprelov commented on #60
Thanx for advice but no chance to use another symbol.

[2017-04-01 19:00] SAprelov commented on #60
Well. I have an ugly workaround.  Just for the history:
I am using env variable for ex. $COMMA=, and then inject it to the script like so
[code]
And it works.

[2017-04-01 23:52] appleboy commented on #60
@SAprelov Could we close this issue? Nice work.

[2017-04-02 19:24] SAprelov commented on #60
@appleboy believe yes. But please stay tune to [https://github.com/urfave/cli/pull/605](url) issue. IMHO it is not correct to break lines. Other drone plugins dont do so.

[2017-04-12 14:47] jhasse opened #64 "Merge stdout and stderr"
Currently output is shown in two parts: First normal output to stdout then "errors" (I guess this is what went to stderr).

Having multiple commands, this makes understanding the output quite hard as it isn't ordered chronology any more.

[2017-04-14 21:52] mattbucci opened #66 "Deploy steps continue even if command returns error"
Is there any way to abort execution on error? for instance right now In my deployment code I run gulp through your ssh plugin, if gulp returns a compile error I want to abort, but currently that does not happen.

I am going to wrap all my build steps in a bash script with stricter error handling, but I wanted to check if there was another way first.

Here's what my .drone.yml currently looks like

[2017-04-15 08:07] appleboy opened #67 "Upgrade easyssh-proxy for security issue."

[2017-04-15 12:49] #67 closed

[2017-04-20 10:00] Jean85 opened #69 "Streaming the output"
Currently, my SSH command (which is a deploy script) can take up to 120 seconds. I would like to see the output of my commands in real time, not just at the end... Is that possible?

Maybe this can be done in conjunction with #64

[2017-04-21 08:44] appleboy commented on #66
@mattbucci I will add new flag to ignore command error and set default behavior is abort execution on any error. Thnaks for your reminder.

[2017-04-21 09:43] ntoljic opened #70 "Add strict option to throw error when remote command failed"
The current implementation returns errors of remote commands in the log. Even with those errors the build step still passes. While I see the use case for such (default) behavior, I would love to be able to pass a `strict` option to the plugin. When this options is enabled, errors in the remote commands should result in the build step not passing.

[2017-04-21 14:18] appleboy commented on #70
duplicated of https://github.com/appleboy/drone-ssh/issues/66

[2017-04-21 15:04] ntoljic commented on #70
oh, sorry. Don't know how I missed that.

[2017-04-21 15:04] #70 closed

[2017-04-22 15:34] appleboy opened #71 "Warning message if set password and key at the same time"

[2017-04-23 03:49] #71 closed

[2017-05-01 18:42] ecwyne opened #73 "secrets in drone 0.6"
I'm trying to use secrets with `drone-ssh` and my 0.6 install

I've tried both
[code]
and
[code]

Either way I get the following error:
`Error: can't connect without a private SSH key or password`

Does the new secrets syntax work with `drone-ssh`?
http://docs.drone.io/manage-secrets/

[2017-05-01 18:58] ecwyne commented on #73
I got some help on gitter.
It looks like there are two possible options

[code]
or
[code]

[2017-05-01 18:58] #73 closed

[2017-05-07 07:26] appleboy opened #74 "Support group build of release process for Drone server."

[2017-05-07 13:58] asosso opened #75 "Build status failure when command returns exit code != 0"
How can I stop the build when command returns non-exit 0 status code?

At the end of `appleboy/drone-ssh` pipeline, I always see "Successfully executed commands to all host." and the build continue.

### .drone.yml using appleboy/drone-ssh

[code]

**Output**

[code]

The build continue...

### .drone.yml using plugin/ssh

[code]

**Output**

[code]

The build fail!

[2017-05-08 01:06] #74 closed

[2017-05-08 08:00] appleboy commented on #75
@asosso I will take it.

[2017-05-08 08:01] appleboy commented on #66
maybe duplicated of #75

[2017-05-08 17:29] asosso opened #77 "Coma (,) charater is not executed on the server"
**drone.yml**

[code]

**Output**

[code]

[2017-05-09 01:38] #75 closed

[2017-05-09 01:40] appleboy commented on #75
@asosso Please try the latest docker image.

[2017-05-09 01:42] appleboy commented on #66
@mattbucci Can you help me to try the latest image? Give me feedback if success or fail.

[2017-05-09 02:07] mattbucci commented on #66
@appleboy unsure if I need to run something manually to update but basic commands failing aren't working in my deploy Maybe exit 1 will?

[code]

This does not exit
[code]

[2017-05-09 02:12] appleboy commented on #66
@mattbucci Wrong name. The correct name is `appleboy/drone-ssh`.

[2017-05-09 06:03] mattbucci commented on #66
Thanks! I see that in your readme now that the other plugin is unmaintained. I will try again and post and update here.

[2017-05-09 06:22] appleboy commented on #66
@mattbucci Looking forward your feedback.

[2017-05-09 08:28] asosso commented on #75
Thank you, it works!

### .drone.yml

[code]

### Output

[code]

[2017-05-09 08:42] appleboy commented on #75
@asosso Thanks for your feedback.

[2017-05-09 08:56] appleboy commented on #77
duplicate of https://github.com/appleboy/drone-ssh/issues/60

[2017-05-09 08:56] #77 closed

[2017-05-10 03:34] #64 closed

[2017-05-10 03:34] #69 closed

[2017-05-10 03:49] appleboy commented on #64
@jhasse Can you help to test the latest image? Waiting for your feedback.

[2017-05-10 03:49] appleboy commented on #69
@Jean85 Can you help to test the latest image? Waiting for your feedback.

[2017-05-10 07:13] Jean85 commented on #69
I works great, thanks!!
It's only a bit verbose because it prepends the timestamp on each line of output (and you have the elapsed seconds on the right on the Drone interface) but it's fantastic!

[2017-05-10 07:20] appleboy commented on #69
@Jean85 I will remove the timestamp.

[2017-05-10 07:39] appleboy commented on #69
@Jean85 Done. Please pull the latest image.

Screenshot:

![screen shot 2017-05-10 at 3 38 44 pm](https://cloud.githubusercontent.com/assets/21979/25887963/d626d294-3596-11e7-9bf5-882727cb8f21.png)

[2017-05-10 07:53] Jean85 commented on #69
Yes it works too.

[2017-05-10 08:12] jhasse commented on #64
Works, thank you! Awesome :)

I would go with `out:` and `err:` though, as it is shorter and then output is aligned correctly (`outputs:` and `errors:` have one character difference).

Also maybe remove the hostname in front of each line? My host is a rather long subdomain which moves everything to the right. Also the hostname is already at the beginning before `commands:`.

[2017-05-10 08:40] appleboy commented on #64
@jhasse

1. change `outputs:` to `out:` and `errors:` to `err:`
2. hide `hostname` if the single domain in drone setting. OK?

[2017-05-10 08:49] appleboy commented on #51
@webpolis Any updates?

[2017-05-10 08:52] jhasse commented on #64
Yes, sounds perfect :)

[2017-05-10 14:04] appleboy commented on #69
@Jean85 Done. Please update docker image.

[2017-05-11 19:35] mattbucci commented on #66
@appleboy Still seems to be occuring on 0.5

It actually returned that everything passed as well. I would have expected execution to stop here:
err: mkdir: cannot create directory ‘/mnt/shared/sites/people/releases/11/’: File exists

![screen shot 2017-05-11 at 12 35 10 pm](https://cloud.githubusercontent.com/assets/3284147/25968433/51ccec6c-3646-11e7-947d-05cf5c727d2d.jpg)

[2017-05-12 08:53] appleboy commented on #66
@mattbucci I added test example https://github.com/appleboy/drone-ssh/blob/master/plugin_test.go#L195-L209 and got exit code 1

![screen shot 2017-05-12 at 4 53 10 pm](https://cloud.githubusercontent.com/assets/21979/25990779/8cdd6802-3733-11e7-8f9d-e8d6285fa952.png)

[2017-05-12 16:40] mattbucci commented on #66
@appleboy if you look at mine you'll see it also returns that it was an err, it just still continues. I'm not sure what to tell you

[2017-05-12 16:43] mattbucci commented on #66
here's my config, hopefully that helps

[code]

[2017-05-12 17:39] appleboy commented on #66
@mattbucci I will try your config tomorrow.

[2017-05-13 05:48] appleboy commented on #66
@mattbucci Please add `set -e`

[code]

[2017-05-13 06:22] mattbucci commented on #66
@appleboy I was hopeful that would work, but it doesn't seem to have

[2017-05-13 06:29] mattbucci commented on #66
I'm trying "$SHELL -e" instead now

[2017-05-13 06:29] appleboy commented on #66
<img width="429" alt="screen shot 2017-05-13 at 2 28 11 pm" src="https://cloud.githubusercontent.com/assets/21979/26023156/8cda11b0-37e8-11e7-9aea-81175415b0d2.png">

[2017-05-13 06:36] mattbucci commented on #66
entering into a new shell doesn't seem to work either, you have to change the current runtime shell using set -e which doesn't have an equivalent in tcsh  or csh apparently: http://stackoverflow.com/questions/32069885/exit-tcsh-script-if-error

I'm sure your solution will work but I will have to ask my SA if it's possible to change the default shell of my deploy user, I do suggest you add set -e t

[2017-05-13 06:47] appleboy commented on #66
@mattbucci Yes. I wish you can change the default shell to `bash`.

[2017-05-23 13:23] Jean85 opened #82 "Handling secrets changed in Drone 0.6"
http://docs.drone.io/release-0.6.0-secrets#plugins

I was using a secret to inject the SSH key in the YAML config. This doesn't work anymore.

[2017-05-23 13:27] appleboy commented on #82
@Jean85 Please paste your drone config. It is working on my drone server (0.6 version).

[2017-05-23 13:34] Jean85 commented on #82
I have identical setup with SSH and SCP plugins:

  copy-deploy-script:
    when:
      branch: master
      status: success
    image: appleboy/drone-scp
    host: some.host.com
    username: user
    key: ${DEPLOY_SSH_KEY}
    secrets: [ DEPLOY_SSH_KEY ]
    target: /home/user
    source:
      - docker/docker-compose.yml.production
      - bin/deploy.sh

[2017-05-23 13:55] appleboy commented on #82
[code]

[2017-05-23 14:08] Jean85 commented on #82
Nope, still failing:

[2017-05-23 14:14] appleboy commented on #82
@Jean85 could you help to add the new secret key as `ssh_key`?

[2017-05-23 14:28] Jean85 commented on #82
Like this?

[code]
Didn't work...

[2017-05-23 14:40] appleboy commented on #82
Yes, you need to add the new secret key which name is `ssh_key` first.

--
About me: http://about.me/appleboy

On Tue, May 23, 2017 at 10:28 PM, Alessandro Lai <notifications@github.com>
wrote:

[2017-05-23 14:46] Jean85 commented on #82
I did it, I didn't forget about it.
I also tried this, didn't work:

[code]

[2017-05-23 15:18] Jean85 commented on #82
Finally made it work:

[code]

Some of the previous attempts failed because I was using the config with the SCP step, where the config is slightly different:

[code]
So, the name of the ENV variable must be composed by `scp`/`ssh` + `_` + `key`/`password`/etc

[2017-05-23 15:18] #82 closed

[2017-05-29 21:37] fredix opened #83 "update documentation"
Hi @appleboy

can you update your doc http://plugins.drone.io/appleboy/drone-ssh/
It should be better if you write we can use drone secret like this :

`secrets: [ssh_username, ssh_password]`

Thanks for your work.

[2017-05-30 05:42] gordanyang opened #84 "handshake error."
handshake failed: ssh: unable to authenticate, attempted methods [none], no supported methods remain
drone-ssh error:  ssh: handshake failed: ssh: unable to authenticate, attempted methods [none], no supported methods remain

[2017-05-30 05:45] appleboy commented on #84
post your sample code.

[2017-06-03 06:26] appleboy opened #86 "Support sync mode for multiple host."

[2017-06-06 11:19] fredix commented on #51
hi @appleboy ,
I have the same issue, my pipeline is

` ssh:
    image: appleboy/drone-ssh
    host: 192.168.254.1
    port: 22
    username: drone
    key_path: /root/drone.key
    #secrets: [ssh_username, ssh_key]
    script:
      - "docker service update --image fredix/hugo hugo"
    when:
`
my yml for docker swarm is

`  drone-agent:
    image: drone/drone:0.7.1
    restart: always
    env_fi

[2017-06-07 05:50] appleboy commented on #51
@fredix I will try your config.

[2017-06-07 05:52] appleboy commented on #41
@nemonik Can you help me try the latest drone-ssh version?

[2017-06-07 05:53] appleboy commented on #41
@PeterCat12 You missing set `key` on drone config.

[2017-06-07 05:54] appleboy commented on #66
@mattbucci Please reopened the issue if you face the same problem

[2017-06-07 05:54] #66 closed

[2017-06-07 11:46] nemonik commented on #41
Sure. I will pull and install today.

On Jun 7, 2017 1:52 AM, "Bo-Yi Wu" <notifications@github.com> wrote:

[2017-06-23 02:57] PeterCat12 opened #87 "plugin doesn't read in secrets for drone:0.6/0.7?"
I believe this is due to the way secrets are done in drone/0.6 (and subsequently 7), however, I have only tested in drone/0.7

relevant part of my `drone.yml`:

[code]

With this configuration I get the following error:
[code]

I've tried my old drone configuration that worked in 0.5 and still could not connect to my instance. Anyone else experiencing this? If not then I'll chalk it up to setting

[2017-06-23 05:56] appleboy commented on #87
duplicated of https://github.com/appleboy/drone-ssh/issues/82

[2017-06-24 16:13] #87 closed

[2017-06-27 06:03] dmitry7887 commented on #84
same for me
  ssh:
    image: appleboy/drone-ssh
    host: my.aws.host.ip
    username: ubuntu
    key: .drone/key.pem
    port: 22
    script:
      - .drone/deploy.sh

[2017-07-04 08:21] pranay-91 commented on #51
Is there any update on this issue??

[2017-07-05 08:08] iveeshal opened #88 "Shell Script not working"
Trying this.  "try.sh" is at resources from where .drone.yml is present

resources/try.sh: No such file or directory

ssh:
    image: drone.docker.target.com/drone-ssh:1
    host: 10.63.166.248
    username:${ARTIFACTORY_USER}
    password: ${ARTIFACTORY_PASSWORD}
    port: 22
    command_timeout: 1800
    script:
      - ls -ltr
      - resources/try.sh

[2017-07-05 10:23] matteosuppo opened #89 "pass drone environment variables"
[code]

Basically I would like to use the drone-defined environment variables on the remote server. Is there a way to do it?

[2017-07-05 10:51] appleboy commented on #89
You can use the drone-defined environment variables in `script` section.

[2017-07-05 12:21] matteosuppo commented on #89
But t's not working, at least not with $DRONE_DEPLOY_TO

[2017-07-30 07:34] Dineshs91 commented on #84
The same error occurs for me too. I am using drone secrets to get the key and host.

[2017-07-31 12:52] Dineshs91 commented on #89
@matteosuppo Can you try this and see if it is getting printed ?

[code]

[2017-07-31 12:53] Dineshs91 commented on #84
The same configuration works fine in drone 0.8 without any errors.

[2017-07-31 14:33] appleboy commented on #89
change to:

[code]

[2017-07-31 16:34] Dineshs91 commented on #19
@appleboy Is this still possible ? I am using `drone:0.8`. I want to add a custom secret so that I can use it in the script.

[code]

The plugin expected secrets work just fine (ssh_host and ssh_key). But I also want to access the AWS_ACCESS_KEY_ID from the secret store. Is it possible ?

[2017-08-01 01:53] appleboy commented on #19
@Dineshs91 No, I will handle this issue.

[2017-08-01 03:55] appleboy commented on #88
What is your drone version? Please see the doc: http://plugins.drone.io/appleboy/drone-ssh/

[2017-08-01 03:55] #88 closed

[2017-08-01 04:58] #89 closed

[2017-08-01 05:02] appleboy commented on #19
@Dineshs91 Please pull the latest image and try the following config

dev-ssh:
    image: appleboy/drone-ssh
    username: ubuntu
    secrets:
      - source: DEV_HOST
        target: ssh_host
      - source: DEV_DEPLOY_KEY
        target: ssh_key
+     - source: aws_key
+       target: aws_access_key_id
+     - source: aws_secret
+       target: aws_secret_access_key
+   envs: [ aws_access_key_id

[2017-08-01 05:07] appleboy commented on #19
@Dineshs91 Please verify the solution. I will update the document if it is working for you.

[2017-08-01 06:23] Dineshs91 commented on #19
@appleboy Thanks, I will verify and let you know.

[2017-08-01 06:38] Dineshs91 commented on #19
@appleboy How do I pull the latest image ? Doesn't the latest image get picked up automatically ?

[2017-08-01 07:24] Dineshs91 commented on #19
@appleboy I deleted the images from the drone server, so that docker pulls in the latest image. The change worked !!. You can go ahead and update the docs. Thanks for the swift fix 👍 .

[2017-08-01 08:25] Dineshs91 commented on #19
@appleboy I can see the values of the secrets in the build logs under `commands:`. Can those be hidden ?

[2017-08-01 08:44] appleboy commented on #19
@Dineshs91 I will add the `debug` mode and default as `false`.

[2017-08-01 09:01] appleboy commented on #19
@Dineshs91 Done. Please delete old `drone-ssh` plugin image.

[2017-08-01 10:30] Dineshs91 commented on #19
@appleboy Works like a charm. Thanks !!

[2017-08-01 10:53] appleboy commented on #19
@Dineshs91 Thanks for your testing and feedbacks.

[2017-08-09 14:24] #19 closed

[2017-08-13 15:06] #83 closed

[2017-08-13 15:07] appleboy commented on #83
see: https://github.com/appleboy/drone-ssh/blob/master/DOCS.md

[2017-08-30 15:40] guyskk commented on #84
I meet the same error:

.drone.yml
[code]

and I set `PLUGIN_SSH_KEY` in `http://ci.myserver.com/{repo}/settings/secret/` page，it's content was copyed from `~/.ssh/id_rsa`.

the build logs:
[code]

drone version: `houseboy/drone:20170512.1`, it's a fork of drone 0.8 which support https://coding.net .

What can I do for finding out the reason and solving the problem?

[2017-08-30 15:54] appleboy commented on #84
@guyskk just set `ssh_key` in secret tab of project setting and update the drone config as the following:

[code]

[2017-08-31 04:54] guyskk commented on #84
@appleboy still the same problem.

I read the code in https://github.com/appleboy/drone-ssh/blob/master/main.go#L32 :
[code]
`PLUGIN_SSH_KEY,PLUGIN_KEY,SSH_KEY` seems equivalent.

[2017-08-31 05:56] appleboy commented on #84
Please make sure that drone server can connect ssh server using the command line.

[2017-08-31 06:10] guyskk commented on #84
@appleboy Yes, I can connect via `ssh dev@MY_SERVER_IP -i drone_id_rsa` in drone server, `drone_id_rsa` was copyed from `~/.ssh/id_rsa` in my laptop.

[2017-08-31 06:24] appleboy commented on #84
add `pull: true` in your config to make sure drone-ssh is the latest version.

[2017-08-31 06:33] guyskk commented on #84
@appleboy still the same.

[2017-08-31 12:13] guyskk commented on #84
@appleboy the problem fixed after I change `houseboy/drone:20170512.1` to my manual build latest drone, probably `houseboy/drone:20170512.1` is not fresh enough.
Thank you for your help!

[2017-09-21 20:38] dev-drprasad commented on #51
Hi @appleboy , I have the same issue, any updates ??

[2017-09-22 01:36] appleboy commented on #51
@dev-drprasad Could you help try to add ssh key using drone secret?

[2017-09-28 07:27] chrisliuqq commented on #51
Dear all,
i try all the method from issue, but the problem still exists,
no matter using the secrets in drone or key_path will cause the problem.

BUT, I solved the problem only by upgrading the drone from 0.7 to 0.8.
I have no idea why, if someone is still facing the problem, maybe give it a try.

[2017-09-28 14:14] appleboy commented on #51
@chrisliuqq It is working on drone 0.5, 0.6, 0.7 and 0.8 version with secrets in drone. maybe I should try it out for the `key_path` way.

[2017-09-28 14:22] PeterCat12 commented on #51
This was awhile ago but I believe I experienced this issue whilst trying to mount an ssh key to my drone server's ~/.ssh directory (Which is a big no-no). I would recommend creating a brand new drone container and make sure you aren't mounting anything funky to the drone server and then adding the key via secrets as @appleboy suggests.

[2017-09-28 14:33] appleboy commented on #51
Please enable the `trusted` mode in project setting if you want to load secret key from `key_path`. See the following screenshot.

![screen shot 2017-09-28 at 10 32 30 pm](https://user-images.githubusercontent.com/21979/30972368-f201ae9c-a49c-11e7-9ffa-8f45e081691c.png)

[2017-10-15 18:55] harryxu commented on #51
I have enabled the `Trusted` option on Project Settings , but still not working with `key_path`.

But I find a solution: Mount private key to the plugin's container instead of drone agent.

pipeline:
[code]

That works!

Of cause, enabled the `Trusted` mode is required.

[2017-10-29 13:32] fredix commented on #51
hi @harryxu !
good job, i tried your config and it works well. @appleboy maybe you should update doc with that tips ?

[2017-10-30 01:46] #51 closed

[2017-10-30 01:48] appleboy commented on #51
@harryxu @fredix Already update readme. See the updates: https://github.com/appleboy/drone-ssh#mount-key-from-file-path

[2017-10-30 02:31] #86 closed

[2017-10-30 02:33] appleboy commented on #84
@gordanyang Any updates on this?

[2017-10-30 02:35] #84 closed

[2017-10-30 02:36] appleboy commented on #41
@nemonik any updates on this?

[2017-10-30 07:40] rinetd opened #102 "if comma in script ,it will be separate two commands?"
sample:
[code]
will be separate two error commands like this

`sed -i "s|'hostname'       => .*|'hostname'       => 'mysql'`
`|g" config.php`

[2017-10-30 10:59] appleboy commented on #102
@rinetd Please open the new file and write your script so just run the script as the following:

[code]

[2017-10-31 14:21] nemonik commented on #41
I will be building a new pipeline this week

 Will test.

On Oct 29, 2017 10:36 PM, "Bo-Yi Wu" <notifications@github.com> wrote:

[2017-10-31 17:57] vishal24tuniki opened #103 "Local script on remote machine"
@appleboy, Can this plugin be used to run local script on remote machine?

[2017-11-01 00:55] appleboy commented on #103
@vishal24tuniki No, you must upload the local script to the remote machine via [drone-scp](https://github.com/appleboy/drone-scp) plugin.

[2017-11-06 18:08] #103 closed

[2017-11-10 05:32] #102 closed

[2017-12-15 12:22] quantonganh commented on #66
So, we still have to use `-e` to exit immediately if a command exits with a non-zero status?

You didn't do that, right? If so, I will try to create a PR.

[2017-12-15 14:53] appleboy commented on #66
@quantonganh PR welcome. Thnaks.

[2018-01-10 22:34] Ygilany opened #109 "ssh key is not read by the plugin"
- running `drone -v` = `drone version 0.8.0`
- using MacOS
- I have a repo set as trused in the project settings
- The following is how I setup the pipline
[code]
- I added the secret as follows:
[code]
The build works fine but when I get to the ssh part I get the following error
`Error: can't connect without a private SSH key or password`

I have no Idea if I'm missing anything here ... please he

[2018-01-11 01:11] appleboy commented on #109
@Ygilany Try to replace `appleboy/drone-ssh:latest` with `appleboy/drone-ssh`

[2018-01-18 16:43] Ygilany commented on #109
That worked! thanks!!

[2018-01-18 16:43] #109 closed

[2018-01-18 16:53] Ygilany opened #110 "ssh: handshake failed"
I keep getting the following error.. I have many repos already setup and the drone-ssh plugin work fine with them. this only happens on some of them.
[code]
my drone.yml:
[code]
I'm using drone 0.8
drone-cli 0.8
my project settings: (from `drone repo info org/repo`)
[code]

[2018-01-22 09:27] varp commented on #110
+1

[2018-01-24 16:03] sebster2 commented on #110
@appleboy I'm also having this issue, any ideas?

[2018-01-25 00:51] appleboy commented on #110
@Ygilany do you run the build from drone-cli or drone server?

[2018-01-25 04:53] Ygilany commented on #110
The server. They kickoff automatically with every push to git

[2018-01-26 15:37] varp commented on #110
Ok! I switched to username and password and the issue is gone... So, the issue only appears when I using key file

[2018-01-26 16:21] appleboy commented on #110
@Ygilany @varp How do you add the `ssh_key`? drone-cli or web console? show your command if drone-cli.

[2018-01-27 11:33] varp commented on #110
I set parameter `key_path`

[2018-01-27 14:51] Ygilany commented on #110
@appleboy I used the web console

[2018-01-28 05:28] appleboy commented on #110
@varp See https://github.com/appleboy/drone-ssh/issues/51#issuecomment-332855580

[2018-01-28 05:55] varp commented on #110
I understood @appleboy . Thx

[2018-01-31 14:01] sebster2 commented on #110
@appleboy do you have any update on @Ygilany issue?

[2018-01-31 14:06] appleboy commented on #110
@sebster2 NO, maybe you can try the ssh command on drone machine using the ssh key file.

[2018-02-07 12:08] Graffine opened #111 "Whitespace in secret data passed by envs will be removed"
I try to pass GCR json key by envs and use it for docker pull on target machine and it failed. It caused by the whitespace in data string will be removed.

Here is my pipeline:

    publish-delta:
        image: appleboy/drone-ssh
        host: <host>
        username: <user>
        secrets: [ gcr_json_key ]
        envs: [ gcr_json_key ]
        script:
          - docker login -u _json_key -p "

[2018-02-07 15:20] appleboy commented on #111
@Graffine Could you try the following solution?

encode your `gcr_json_key` using `base64` command.

[code]

Update the script command

[code]

[2018-02-08 04:00] Graffine commented on #111
@appleboy It is OK if I encode secret with base64. Thanks.

But it is still weird if the secret shared by different pipeline steps and we should handle it in each steps. Do you have any suggestions about it?

[2018-02-11 18:20] nemonik commented on #51
I gave up using secrets...

:-(

:-(

It simply didn't work.

I'd set a secret in the GUI, via the drone CLI.

But this buried on the bottom of the front door worked

[code]

[2018-02-11 18:25] nemonik commented on #51
I tried

[code]

And cutting and pasting the contents of /vagrant/.vagrant/machines/toolchain/virtualbox/private_key into the Drone Secret gui for a `TOOLCHAIN_SSH_KEY` and then using a pipeline like so

[code]

And I could always from the command line:

[code]

[2018-02-27 00:40] joshdk commented on #111
I (coincidentally) fixed this in https://github.com/appleboy/drone-ssh/pull/113, if anyone wants to take a look.

[2018-02-27 01:20] joshdk opened #114 "Error is not generated if no hosts are configured"
There is a usability edge-case that is manifested by  [plugin.go line #130](https://github.com/appleboy/drone-ssh/blob/master/plugin.go#L130);

If you have a `user`/`PLUGIN_USER` configured but no `host`/`PLUGIN_HOST`, no error will be generated. Specifically the "[missing server **or** host](https://github.com/appleboy/drone-ssh/blob/master/plugin.go#L15)" error.

This can be very confusing if yo

[2018-02-27 01:51] joshdk opened #115 "Forwarded environment variables are not exported"
Passing environment variables to programs on the target host is overly complex. If I want a script that resides on the SSH host to consume a specific environment variable, I have to reference it in **three** different places.

In this example, the `aws` cli will error because there is no secret access key in its working environment:

[code]

This is solved in the following example my explicitly ex

[2018-04-29 04:03] itsnauman commented on #110
I am also having this issue. Does anyone have a solution?

[2018-04-29 04:08] itsnauman commented on #51
So how do I generate the drone_rsa key in the drone container?

[2018-04-29 04:12] itsnauman commented on #51
@harryxu Do we need to generate an ssh key inside the container? where does `drone_rsa` come from?

[2018-04-29 18:00] itsnauman commented on #51
Inside the container? or do I mount a volume with the SSH key

[2018-04-29 18:16] itsnauman opened #120 "SSH: Handshake failure"
Hi, I'm following the tutorial published by `appleboy` but I'm still getting a handshake failure

Pipeline code:

[code]

Docker compose
[code]

[2018-04-30 03:29] appleboy commented on #120
Please make sure that enable the `trusted` mode in project setting.

[2018-04-30 05:09] itsnauman commented on #120
It is enabled

[2018-05-23 16:59] mebibou commented on #120
It's confusing, you are using `/root/.ssh` and sometimes `/root/ssh` and sometimes `/root/id_rsa`. Maybe you should just put your `id_rsa` under `/root/.ssh` and always use this path?

[2018-05-23 17:01] mebibou commented on #110
I've spend quite a lot of time to fix the issue myself, would it be possible to have a verbose mode to see what's going on?
otherwise the config that worked for me:
[code]

[2018-08-02 02:27] yeyongyong commented on #110
![image](https://user-images.githubusercontent.com/14305099/43558966-7855c51c-963e-11e8-81df-5a5731d942c4.png)
![image](https://user-images.githubusercontent.com/14305099/43558988-8e97e12a-963e-11e8-916c-750b91cf166d.png)

[2018-08-02 02:33] yeyongyong commented on #110
![image](https://user-images.githubusercontent.com/14305099/43559161-8139d2c6-963f-11e8-84f9-366ebc14672c.png)
![image](https://user-images.githubusercontent.com/14305099/43559167-85b7891a-963f-11e8-8b1f-5565079a6933.png)

[2018-09-04 18:08] ayaka209 opened #121 "build still continue even if commands fail"
======CMD======
set -o pipefail
cd /home/xxx
mkdir backup-drone
cd backup-drone
mysqldump xx -uxx --add-drop-table --create-options | bzip2 -c > runrunfitness.latest.sql.bz2
cp runrunfitness.latest.sql.bz2 runrunfitness.$(date +%Y%m%d%H%M%S).sql.bz2
======END======
err: mkdir: cannot create directory ‘backup-drone’: File exists
err: Enter password: mysqldump: Got error: 1045: Access denied for use

[2018-09-06 08:24] cswww opened #122 "can't build at hypriotOS"
![2018-09-06 4 24 05](https://user-images.githubusercontent.com/30970064/45144645-4ce34e80-b1f1-11e8-9870-cc08ea517297.png)

[2018-09-23 16:32] appleboy commented on #121
@mavimo PR welcome 👍

[2018-09-26 07:37] appleboy commented on #121
@mavimo @ayaka209 I added testing code about how to use script stop flag. See https://github.com/appleboy/drone-ssh/pull/124

Thanks for @mavimo contributions.

[2018-09-26 08:08] appleboy commented on #115
@joshdk Please try the latest version. It is not necessary to export variable in the secret section.

[2018-09-26 08:08] #115 closed

[2018-09-26 08:09] appleboy commented on #111
fixed in #113

[2018-09-26 08:09] #111 closed

[2018-09-29 09:05] bazzilio opened #125 "Timeout while executing docker-compose build"
## Description of the issue
docker-compose build hangs when running under drone-ssh plugin

## Context information (for bug reports)
[code]

[code]

[code]

Output of "docker-compose config"
[code]

## Steps to reproduce the issue

1. push commit into gogs
2. Pipeline started
3. Job stopped by timeout on the build stage

If i run pipeline manual(command by command) on the target host it always fin

[2018-11-05 19:20] rakshith-ravi opened #129 "Logs in as TTY. Can't find pm2 process to run"
I have a simple script that logs in to the server and executes pm2 reload. But it never seems to be able to find the pm2 executable. Is this a problem with my pm2 configuration or with drone-ssh?

[2018-11-06 03:59] appleboy commented on #129
@rakshith-ravi Maybe you can export `PATH` first and add bin folder path of node?

[2018-11-06 06:29] rakshith-ravi commented on #129
The problem is that nvm handles the PATH of the node_modules/bin directory based on what version of node is selected. So I wouldn't know the directory to pm2 before hand. Is there any way I can make it work just like I'm logging in from my terminal?

[2018-11-06 08:01] appleboy commented on #129
Try the following command?

[code]

[2018-11-06 22:00] rakshith-ravi commented on #129
I still get this:

[code]

[2018-11-07 01:11] appleboy commented on #129
create Makefile:

[code]

in drone.yml

[code]

[2018-11-09 20:21] rakshith-ravi commented on #129
Okay I think I got the solution:
I'm doing the following to get it running:
[code]
And it seems to work

[2018-11-15 09:53] lddsb commented on #110
**same issue for me.**

[code]

[code]

[2018-11-15 09:54] lddsb commented on #110
![image](https://user-images.githubusercontent.com/20765867/48544860-7f02e200-e8ff-11e8-8b6d-a54a2af327b8.png)

[2018-11-15 10:32] appleboy commented on #110
@lddsb Try the secret. https://0-8-0.docs.drone.io/manage-secrets/

[2018-11-16 02:31] lddsb commented on #110
@appleboy thanks so much,it's work for me.
[code]

[2018-11-18 10:37] SolT31 opened #130 "Secret in Drone 1.0.0-rc.1"
How to use secrets in script?
Drone version 1.0.0-rc.1

[code]

Example from documentation does not work for version 1.0.0 rc.1

[2018-11-18 11:04] appleboy commented on #130
[code]

see the `plugins` section of [pipeline steps](https://docs.drone.io/config/pipeline/steps/)

[code]

[2018-11-22 10:07] coolyrat commented on #130
it would be great if add some example usage for 1.0.0. i am trying to pass secret into the executing script

![image](https://user-images.githubusercontent.com/1881159/48895901-2e503380-ee81-11e8-95f4-848fd5dada03.png)

[2018-11-23 10:22] apechkin opened #131 "Commands or script block in yaml?"
Greetings!

In my project i use drone 1.0.0 rc version.
If i use "commands" block in drone.yaml with next code:

[code]
i get an error:

[code]

if i replace **commands** to **script**, get a next result:

[code]
But no one command are executed. How to execute docker commands in container ?

[2018-11-24 08:03] apechkin commented on #131
I found a problem in my code

[2018-11-24 08:03] #131 closed

[2018-11-27 08:10] v7lin commented on #130
I have the same problem.

[code]
Example from documentation does not work for version 1.0.0 rc.1

[2018-12-03 01:33] v7lin commented on #130
^_^ I have solved it.

[code]

[2018-12-03 10:37] #130 closed

[2018-12-08 17:31] TheGiddyLimit opened #132 "Migrating Configs from 0.8.0"
How should SSH keys be specified in the new Drone config layout? I'm encountering the message:
`Error: can't connect without a private SSH key or password`
Using the following config:
[code]

For reference, the old (previously working in 0.8.0) config:
[code]

---

I've tried various combinations of parameters with no luck. In general, I think a fully-featured 1.0.0 guide would be useful to have.

[2018-12-09 13:07] byumov commented on #132
Works for me:
[code]

[2018-12-09 14:17] TheGiddyLimit commented on #132
Seems there was probably just an update required. Adding `pull` fixed it, e.g.:
[code]

[2018-12-09 14:17] #132 closed

[2018-12-13 14:15] coltenkrauter commented on #130
@v7lin
Can you please help me? I cannot get secrets to work in scripts...
I created a secret names ```test``` and I am trying to use it in ssh command.
This is what I have tried:
[code]

[2018-12-13 14:39] v7lin commented on #130
plugins/ssh -> appleboy/drone-ssh

[2018-12-14 23:17] coltenkrauter commented on #130
That did it, thanks @v7lin

[2019-01-15 16:07] #110 closed

[2019-01-15 22:50] lukkigi commented on #122
I was having this issue as well and created a fork to fix it. The issue seems machine-specific though, so I closed my PR again. If you're having issues, try https://github.com/lukkigi/drone-ssh. Worked for me on Ubuntu 18.04

[2019-01-20 16:57] iatsiuk opened #135 "Correct syntax for envs"
Can you please suggest me correct syntax for secrets/envs combination for Drone 1.0?

This config:
[code]

Output (i.e. empty $SSH_DEPLOY_KEY var):

[code]

[2019-01-26 03:25] appleboy opened #136 "Migrate to drone 1.0 version and move to cloud.drone.io"

[2019-02-20 17:40] rakshith-ravi commented on #136
Any sort of documentation on how to use this plugin with drone 1.0 would be appreciated. I'm trying to get this running on 1.0 and it's being very difficult for me. Keeps saying the following:

[code]

I'm clearly doing something wrong with the syntax of how to use this plugin (cuz it's not trying anything to authenticate) but any help on how to use this with drone 1.0 would be appreciated.

[2019-02-21 01:38] appleboy commented on #136
@rakshith-ravi Post your drone config.

[2019-02-21 15:08] rakshith-ravi commented on #136
Currently, this is what I'm doing:
[code]

[2019-02-24 18:08] rakshith-ravi commented on #136
@appleboy any help please?

[2019-03-04 02:55] #136 closed

[2019-03-04 12:47] rakshith-ravi commented on #136
@appleboy Does this mean that the plugin does not support 1.0 yet or am I doing something wrong with my config?

[2019-03-04 13:06] appleboy commented on #136
@rakshith-ravi All plugins support drone 0.8 or 1.0 version. Please read the [Migrating from 0.8](https://docs.drone.io/user-guide/pipeline/migrating/) if your server version is 1.0

[2019-03-05 20:55] rakshith-ravi commented on #136
Okay I think you may have got me wrong. I have already migrated to drone 1.0. I have all my systems on drone 1.0. I need help with migrating my `drone-ssh` plugin to 1.0. I don't know how to configure it for 1.0 correctly. Could you please help me understand (or point to some documentation) on how an ideal config for this plugin would be with 1.0?

[2019-03-06 02:30] appleboy commented on #136
@rakshith-ravi See https://github.com/appleboy/drone-ssh/issues/130#issuecomment-439684302

[2019-03-19 06:35] Dineshs91 opened #139 "Drone build not failing"
Drone build doesn't show status as failed, when one of the commands under scripts fail.

Example:

[code]

When the command `make test` fails with exit 1, drone build shows the entire build as success.

[2019-04-19 18:20] DNajjarzade opened #141 "Access drone v1 secrets in appleboy/drone-ssh script section"
Greetings Dear community,
These secrets [prod_ssh_username & prod_ssh_password] work and I can ssh into destination host so I think drone is working.
but all my tries to get the bbp secret using in script section fail.

[code]
---

this is the drone output:
[code]
I have rad all the toppics avilable.
in other solved issues the variable (bbp in my case) is only defined below environment, and not in

[2019-04-23 07:49] DNajjarzade commented on #141
For now, I have a workaround, following this solved issue:
https://github.com/appleboy/drone-ssh/issues/130
I created a test variable and could access the needed secret.
I have no idea why my "bbp" variable did not get populated but the test variable was !!!
for now, this issue is solved but no idea why!

[2019-04-23 07:49] #141 closed

[2019-05-16 10:31] meodemsao opened #142 "connect: no route to host"
i have issues when using drone and ssh target server in the same server

`dial tcp ********:3001: connect: no route to host`

but in another project it's run normal

[2019-06-05 22:06] ff4500 opened #143 "script output listed as err"
This is more of an annoyance than anything else, but I wondered if there was a quick fix to the way that I was calling a docker-compose restart via script. I put the `echo` cmd in there to make sure that the output was accurately showing an `out` status on a simple cmd.

In the script section of my pipeline step, I have the following to restart docker-compose:

[code]

In my step output in Drone (

[2019-06-27 11:50] leafney commented on #130
thanks @v7lin ,the `envs`  is the key.

[2019-07-10 08:11] Dineshs91 commented on #139
This is an issue in my code.

[2019-07-10 08:11] #139 closed

[2019-08-13 14:17] UstyuzhaninAV opened #144 "Error: missing server host"
This doesn't seem to work anymore

[2019-08-15 12:45] terreb commented on #143
Same here, shows err: for every message. Also, it doesn't interrupt if any script step finishes with status=1, but keeps going.

[2019-08-15 12:57] terreb commented on #66
Any progress?

[2019-08-15 13:29] appleboy commented on #66
@terreb

[code]

[2019-08-15 13:30] terreb commented on #66
@appleboy, thanks a ton!

[2019-08-19 07:14] curder commented on #144
I got the same issue, when I deploy my code on https://cloud.drone.io.

this is my `.drone.yml` content:

[code]

and under variables set in my project settings link this:

![image](https://user-images.githubusercontent.com/8327004/63245848-b9851b00-c293-11e9-917e-5de52b77b2a6.png)

when I push commit to git repository, I got the same error:

![image](https://user-images.githubusercontent.com/8327

[2019-08-19 09:29] curder commented on #144
Hi:

I was resolved this by the below config:

- `.drone.yml`
[code]

- secret config

![image](https://user-images.githubusercontent.com/8327004/63254604-99ab2280-c2a6-11e9-8b3f-92eda23cf16b.png)

- deploy pipline
![image](https://user-images.githubusercontent.com/8327004/63254516-78e2cd00-c2a6-11e9-97e2-b4cd37c2ca91.png)

Thank you for your issue.

happy coding...

[2019-08-19 22:11] hsowan opened #145 "ssh.ParsePrivateKey: ssh: no key found"
![image](https://user-images.githubusercontent.com/26451706/63303053-51751a00-c311-11e9-804b-a3ef78c0912d.png)

[2019-08-22 13:41] arcolife opened #146 "plugin demo on drone website in old format (<v1.0)"
http://plugins.drone.io/appleboy/drone-ssh/
This still shoes me usage of `script`

[code]
as a result, when I updated to new format of `.drone.yml`, it was not running properly, so to speak, it hadn't ssh'ed into the host and was trying to run the commands on the agent itself.

is this compatible with 1.0+ or am I missing something?

In contrast, I can see updated format for slack plugin http://pl

[2019-09-28 17:51] appleboy commented on #146
@arcolife new format as the following:

[code]

I will update the doc asap.

[2019-09-28 17:52] appleboy commented on #144
I will update the document asap.

[2019-09-29 04:30] #144 closed

[2019-09-29 04:30] #146 closed

[2019-09-29 04:33] #143 closed

[2019-09-29 04:33] appleboy commented on #143
Example configuration for stoping script after first failure:

[code]

[2019-09-29 04:34] appleboy commented on #142
Please provide your config.

[2019-09-29 06:01] appleboy commented on #120
@itsnauman Please set your ssh key in setting tab of drone 1.0 version UI.

[2019-09-29 06:01] #120 closed

[2019-09-29 06:03] appleboy commented on #125
you can set the timeout flag by yourself.

[2019-09-29 06:03] #125 closed

[2019-10-10 06:27] lkqm commented on #15
Hi! I need a combination of ssh and scp functions, think they should be bound together, can you consider combining two plugin functions into one plugin?

[2019-10-10 07:16] tboerger commented on #15
You can always build your own plugin with custom logic and use that.

[2019-10-10 13:01] lkqm commented on #15
Ok, that's it, thank you.

[2019-10-11 02:46] XiaoHanChina commented on #142
Run the code bellow on your target server.
`firewall-cmd --zone=public --add-port=3001/tcp --permanent`

[2019-10-12 15:06] lkqm commented on #130
I have a similar problem, echo secret var like *******, causes docker login password error,
and test other when secret value euqals drone secret it's will replaced ******:

using drone v1.6.0:

.drone.yml:
[code]

build result:
![image](https://user-images.githubusercontent.com/20638840/66703340-2cff5200-ed44-11e9-8218-c445758e0867.png)

[2019-10-12 15:25] appleboy commented on #130
@lkqm Do you want to upload docker image to aliyuncs?

[2019-10-12 15:31] lkqm commented on #130
No, I need pull docker image from aliyuncs private repository in remote ssh host, so I need password to login aliyuncs registry.
不是的，我需要在远程主机上从阿里云私有仓库拉去docker镜像, 所以我需要密码登录镜像中心

[2019-10-13 13:33] lkqm commented on #130
@appleboy so sorry, I am try again, it's work now, may be is password wrong

[2019-10-21 23:03] derekahn opened #147 "settings.envs does not work as expected"
☝️ I'm probably miss reading/understanding 🤷‍♂

## drone.yml
[code]

<img width="948" alt="secret" src="https://user-images.githubusercontent.com/5381156/67249206-b507ea80-f41b-11e9-85b0-9d6c6eb751ae.png">

☝️ Isn't referencing these **secret**s  usually with `from_secret`?

## Result
[code]

[2019-10-22 19:03] derekahn commented on #147
Never mind found #135 🤦🏽‍♂️

[2019-10-22 19:03] #147 closed

[2019-10-28 17:34] trepmag commented on #51
The following drone.yml is failing with `getKeyFile error: open /root/drone_rsa: no such file or directory`:
[code]
(Drone 1.6.1)

[2019-10-28 19:23] trepmag commented on #51
Syntax changed https://docker-runner.docs.drone.io/configuration/volumes/host/ which turns the above to:
[code]

[2019-11-21 13:14] appleboy commented on #142
not drone-ssh issue.

[2019-11-21 13:14] #142 closed

[2019-12-24 06:31] zhangyongyu commented on #51
I gave up using secret...

**my pipeline**
pipeline:
  deploy:
    image: appleboy/drone-ssh
    host: 10.xx.xx.123
    username: drone
    volumes:
      - /tmp/id_rsa:/tmp/id_rsa
    key_path: /tmp/id_rsa
    port: 22
    script:
      - echo "hello drone" > /tmp/hello.drone

[2020-01-24 16:43] b12f commented on #102
This solution does not work for me. I'm currently trying to deploy docker containers with this, and need to do a bit of bash scripting to add some ENV variables.

On the server itself, there are no files present of the actual project, and I don't want there to be any, otherwise I would have to clone the project onto the server just to get the build script. I'd like it to be: just ssh in, start the

[2020-02-07 14:50] leonelfaugusto opened #150 "ssh error on handshake"
Hello,
After the last update on the docker outputs:
``2020/02/07 14:30:47 ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain``

All work weel before the update.

My configuration:
[code]

[2020-02-07 15:14] jled7 commented on #150
Yes, i am having the same problem. Yesterday was working fine.

[code]

`[ssh:33] 2020/02/07 15:10:11 ssh: handshake failed: ssh: unable to authenticate, attempted methods [password none], no supported methods remain`

[2020-02-07 15:21] leonelfaugusto commented on #150
For now, I'm using v1.5.5 that works fine.
Just replace ``appleboy/drone-ssh`` by  ``appleboy/drone-ssh:1.5.5`` on drone config file.

[2020-02-07 15:59] #150 closed

[2020-02-07 19:08] milhouse1337 opened #151 "Authentication failed after urfave/cli upgrade"
Hi Mr. Wu,

First just a quick word to say that this Docker image is very neat and useful, thank you for this! 😊

That said, since the upgrade of `urfave/cli` from `1.22.1` to `1.22.2` the autentication via public key is not working anymore.

I think it has to do with the parameters, maybe they changed a bit. Here is my actual config:

[code]

I temporarily fixed it with the last knowned working v

[2020-02-07 22:44] xoxys commented on #151
@appleboy maybe this plugin should be migrated back to drone-plugins org?

[2020-02-07 23:37] gpascualg commented on #151
Authentification via password isn't working either. I confirm 1.5.5 works just fine.

[2020-02-08 02:36] ibantoo commented on #150
i got some error also
how to fix that ? i did like u said, but nothing

my .drone.yml
[code]

when i use

 key : `-----BEGIN OPENSSH PRIVATE KEY-----
     key here
-----END OPENSSH PRIVATE KEY-----`

my yml said bad synatx

[2020-02-08 04:28] giter commented on #151
`
2020/02/08 01:59:38 ssh: handshake failed: ssh: unable to authenticate, attempted methods [none password], no supported methods remain
`

[2020-02-09 03:51] appleboy commented on #151
Hi All,

I reverted git commit to https://github.com/appleboy/drone-ssh/commit/54cdb693e4b27221c387b94e65135cae56ec4c56

Thanks for the reports.

[2020-02-09 03:51] #151 closed

[2020-02-24 09:26] Hsueh-Jen opened #153 "Error: can't connect without a private SSH key or password"
I use docker to run a CentOS container on localhost and I can use mac terminal and sftp software like Filezila to connect localhost:10022 successfully. And I want to use dorne-ssh to connect localhost but fail.

Here is my `.drone.yml` file

[code]

I use ` drone exec` to test, and it always response `Error: can't connect without a private SSH key or password`.  I want to use password, but I guess

[2020-02-24 14:28] appleboy commented on #153
what is your drone version? Please pull the latest drone-ssh docker image.

[2020-03-09 03:57] Hsueh-Jen commented on #153
drone version 1.2.1

and I add `pull: true`, but the problem is still there. Did I do anything wrong?

[code]

[2020-03-09 12:58] appleboy commented on #153
See the docs: http://plugins.drone.io/appleboy/drone-ssh/

missing the `settings:` config?

[2020-04-10 15:55] shenqidebaozi opened #154 "Connect the Mac computer, command tty to return not a tty"
Hello, I hope you can help me solve the problem

Connect the Mac computer, command tty to return not a tty,but my computer connect this Mac computer tty ,return ttys001. And after connecting to the Mac, there is no required environment variable
![image](https://user-images.githubusercontent.com/35397691/79004066-8f67cc80-7b86-11ea-8c9e-398e2500b4a6.png)
![image](https://user-images.githubuserconte

[2020-04-10 15:58] shenqidebaozi commented on #154
Environment variables are also manually declared through export
![image](https://user-images.githubusercontent.com/35397691/79004342-2765b600-7b87-11ea-9c62-0815bf575d9e.png)

[2020-04-10 15:59] shenqidebaozi commented on #154
Linux doesn't have this problem

[2020-04-16 14:22] #153 closed

[2020-04-27 10:48] NissanYeah opened #155 "What's environment when appleboy/drone-ssh run script? error:nvm command not found"
Hi,there

Here's my .yml file  and i got error `bash: line 5: nvm: command not found` when drone is deploying. I'm sure I install nvm and source it in the `~/.profile`

What's environment when Drone  run `nvm use 12.16.2`  in script parts of this .yml?
Is it in service server or still in Drone server's docker?

[code]

thx!

[2020-05-19 06:08] appleboy commented on #155
See the solution: https://github.com/appleboy/ssh-action/issues/21#issuecomment-574050424

[2020-05-19 06:08] #155 closed

[2020-05-24 02:44] appleboy commented on #154
This is not drone-ssh plugin issuer. Right?

[2020-06-28 03:43] pmls63 opened #159 "Error: missing server host"
When I use drone-ssh, It waring missing server host, it is same as drone scp

[2020-08-03 00:25] dawnerd commented on #159
Ok, so I'm not alone. Just spent way too long trying to figure out what I was doing wrong.

[2020-08-12 06:34] appleboy commented on #159
Please post your config or show more detail information.

[2020-08-20 03:44] aleksey005 commented on #110
Not work in kubernetes installation.

[2020-08-20 07:33] Hlorry opened #161 "how to configurate multiple hosts with different password and port?"
how to configurate multiple hosts with different password and port?

[2020-08-20 08:27] aleksey005 commented on #110
======CMD======
/system script run reboot
======END======
2020/08/20 08:26:57 ssh: handshake failed: ssh: disconnect, reason 2:

[2020-08-31 02:53] aogg opened #162 "Error response from daemon: received unexpected HTTP status: 502 Bad Gateway"
why

Suddenly report an error

[2020-08-31 02:56] #162 closed

[2020-09-01 02:15] #161 closed

[2020-09-30 18:47] crojas opened #163 "How use multiline in script section"
i want to do something like
[code]

[2020-10-01 18:27] #163 closed

[2020-10-01 18:28] crojas commented on #163
Just:
[code]

[2020-10-07 10:26] softshipper opened #164 "How to set environment variables?"
Hi all

I have tried to set environment variables as follows:

[code]
But it does not work. How to set it correctly?

Thanks

[2020-10-07 10:49] #164 closed

[2020-10-07 13:41] softshipper opened #165 "Secrets from Organization does not get taken"
Hi all

I have created a secret per Organization as described on https://docs.drone.io/secret/organization/ that is used in the pipeline:
[code]
The secret does not get recognized from `Per Organization` but it recognizes when I put the secret in
![Screenshot from 2020-10-07 15-39-24](https://user-images.githubusercontent.com/56756949/95338587-5f8a4f00-08b3-11eb-8a89-95df706c25ec.png)

Why it does

[2020-10-14 19:07] mschoettle opened #166 "CMD empty and nothing gets executed"
I am trying to use this plugin for the `promote` event as follows:

[code]

Unfortunately, the `CMD` section in the output is empty and nothing gets executed.

[2020-10-14 20:26] mschoettle commented on #166
Ah, the `script` section needs to be part of `settings`. Based on the `commands` section in pipeline steps I was assuming it goes at the same level.

[2020-10-14 20:26] #166 closed

[2020-11-17 01:18] appleboy opened #167 "Support multiple hosts with different ports"
See the reference: https://github.com/appleboy/ssh-action/issues/85

Users can define multiple hosts with different ports.

[2020-11-17 02:14] #167 closed

[2020-11-17 02:58] appleboy commented on #165
I will try it.

[2020-11-17 02:59] appleboy commented on #159
I will close the issue without any response.

[2020-11-17 02:59] #159 closed

[2020-11-17 22:12] appleboy commented on #114
Please try the latest version.

[2020-11-17 22:12] #114 closed

[2020-12-01 15:59] mschoettle opened #169 "Failed script reported as successfully executed"
I use `drone-ssh` to execute a shell script on a server.

This script has an abort trap and in that case exits with the error code:

[code]

However, in the case an error occurs it is still being reported as "Successfully executed commands to all host.".
In this particular case it was a git command that failed, not sure if this makes a difference. I assume that the exit code != 0 so I would expect

[2020-12-15 19:55] Asing1001 opened #170 "Does it support ed25519 ?"
Given a file as following, it works with a `ssh_key` generate with `rsa` but `ed25519`
Where `ed25519` is a recommended algorithm by github [here](https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent)

If it does support, what should I change to make it work? Thank you

[code]

[2020-12-17 17:24] Frickeldave opened #171 "Secrets are not resolved"
Hi,

i try to get a repo-secret from as described [here](https://github.com/appleboy/drone-ssh/blob/master/DOCS.md).
My .drone.yml file looks like this:

[code]
The complex template-anchor stuff works as expected. But when i run this example, the variables are not set. I tried the "export" command with $${var} as well as $var. Bot ends in the following output:
[code]
Please notice, that the "OIDC"

[2020-12-17 17:35] Frickeldave commented on #171
Solved by myself, 2 minutes after writing this article. Thats working:

[code]

[2020-12-17 17:35] #171 closed

[2021-01-18 08:38] haorenfsa commented on #135
we should add this to the examples in the document

[2021-05-06 00:09] tomaswarynyca opened #172 "New output scheme"
I would like to propose a new exit scheme.
Usually you display the command to execute `+command `
Then put the `>` icon to inform that the output is displayed and then the output of the command.
The current output distorts the reading of the output.

I hope you can take it into account to implement it.

[2021-05-06 00:12] appleboy commented on #172
Please provide some example log?

[2021-05-06 00:16] tomaswarynyca commented on #172
Thank you for replying to the message, here is the example

[code]
Line break and repeat with the next command if there are

[2021-05-09 10:47] carloschameleon commented on #165
Did you check this? _Organization secrets can be used by any repository that belongs to the named organization._ ([source](https://docs.drone.io/secret/organization/))

I was having problems with organization secrets to I started to use repo secrets

[2021-08-06 11:28] smally10 opened #173 "when use "," in the script , it produce a newline"
For example
[code]
there will be  an  error

[2021-08-09 07:40] smally10 commented on #173
`  - name: ssh
    image: appleboy/drone-ssh
    **# step 1: ​define env**
   ​environment:
     ​COMMA: ","
   ​settings:
     ​host:
     ​port:
     ​username:
     ​key:
     **​# step 2: import evn**
     ​envs:
       ​- COMMA
     script:
        **# step 3: use the env,
        # two $, used to avoid pre-processing**
        - echo "$${COMMA}"`

[2021-08-09 07:43] #173 closed

[2022-01-06 23:14] C0ntroller opened #174 "Config to skip cloning"
I use this plugin to easily connect to a host and run commands that are not dependent on my projects source. I'm aware I can do that using other containers but setting up this step in the pipeline is way more intuitive.

I would like if there is a config argument to skip the implicit cloning step as I don't need it my cloned repository. I found nothing like this in the docs.

Does this seems doabl

[2022-02-10 07:05] heirychen opened #175 "using script_stop, there is a problem when using cat in script to output to a file."
example file:

[code]

[2022-02-10 07:50] heirychen commented on #175
my .drone.yml

[code]

[2022-03-03 11:39] smainz opened #177 "Executed script fails if a line contains a comma character (',')"
When a script contains a comma char `,` the plugin intoduces a line break in the command, which leads to errors:
Example using docker:

[code]

Output:
[code]

Here is a sample drone build file comparing simple commands with th applayboy/drone-ssh plugin:

[code]

Obviously the echo commands given to the alpine/git container and the appleboy/drone-ssh are the same, but the result while executing a

[2022-03-03 12:19] smainz commented on #177
I have to add, it does not happen when calling the dron-ssh binary (built from latest master), but unfortunately this does not help.

[code]

[2022-03-03 12:23] smainz commented on #177
One more which may be easier to reproduce:

[code]

[2022-03-04 19:17] smainz commented on #177
After debugging a bit I have to see that drone concatenates every line in the array using a comma, so there is probably no solution but the provide some kind of escaping mechanism.

Ideas anyone?

[2022-03-18 08:50] fivenull opened #179 "ssh.ParsePrivateKey: ssh: no key found"
Hello, I have a problem
i use password ，is ok ,but use ssh_key failure

2022/03/18 08:47:59 ssh.ParsePrivateKey: ssh: no key found
2022/03/18 08:47:59 ssh: handshake failed: ssh: unable to authenticate, attempted methods [none], no supported methods remain

[2022-03-30 20:27] modem7 commented on #177
Have you tried "'a, b, c'"? (single quotes inside double)

[2022-04-04 11:02] smainz commented on #177
Sorry for answering late, but this does not work eigher, even tries double in singe quotes
From the code i think the problem can not be resolved.

[2022-05-17 08:02] wangpengzong opened #180 "docker: command not found"
hello, I use in .drone.yml.
`uname -a`
 out:
[code]
This config:
[code]
Output.
[code]
`ps aux | grep docker`
![image](https://user-images.githubusercontent.com/29770198/168839227-6dba02d6-c0b7-4251-bc37-60eeb46a9644.png)

how to deal with?

[2022-05-18 01:58] wangpengzong commented on #180
I solved this problem,just replace `docker` with `/usr/local/bin/docker`.

[2022-05-18 01:58] #180 closed

[2022-05-18 15:32] jtran commented on #177
I'm running into this problem too.  So many people are having this problem that there are 3 other issues #60, #102, #173.  Make sure to check out those for suggestions for workarounds until there's a real fix.

[2022-05-20 23:03] UmutAlihan commented on #166
This was the exact my issue and you solved it gracefully :).
Infinitely many thanks for sharing your own solutions with the community <3.

[2022-05-21 21:36] natget21 commented on #165
I faced same issue here I created an organization secret from the dashboard and it didn't work while it works from the repository

[2022-05-24 16:26] portno12 opened #181 "maintenance status of this project?"
seems unmaintained, last release in 2020 and lots of old issues or unaddressed new ones.
can the maintenance status be confirmed for users, and if not maintained suggested alternatives?

[2022-05-31 11:03] zhengmz opened #182 "Can transfer environment DRONE_* to remote host?"
# Example: Use $DRONE_COMMIT

when event is pull-request

I can use $DRONE_COMMIT to get the pr ref to do something

[2022-06-07 08:03] gilesbradshaw opened #183 "is this broken with latest openssh server?"
I can make this work with a server running

[code]

but not

[code]

only difference i can see is the server version.  I have authorized_keys configured the same on both servers

    ssh -p 2022 giles@failedserver

works fine but

[code]

does not

whereas both work using workingserver

[2022-06-07 16:37] gilesbradshaw commented on #183
I've tested it against https://hub.docker.com/r/linuxserver/openssh-server images and it works with a server up to **version-8.6_p1-r3** then it starts failing after that.

[2022-06-15 14:28] appleboy commented on #181
I still maintain this project.

[2022-06-15 14:28] #181 closed

[2022-06-15 14:29] appleboy commented on #179
post your config?

[2022-06-16 15:23] christianruhstaller opened #192 "Channels stdoutChan and stderrChan still receive messages after they are closed resulting in messy output"
Output:
[code]

The problem is that the receiving part does not check if the received message has the status "ok":
- https://github.com/appleboy/drone-ssh/blob/1dcc9acbe58edfbf2d1a80357dfcfc8bd5b49640/plugin.go#L129
- https://github.com/appleboy/drone-ssh/blob/1dcc9acbe58edfbf2d1a80357dfcfc8bd5b49640/plugin.go#L131

With the following fix the problem can be bypassed on the client side:
[code]

The

[2022-06-20 14:19] DennisGaida opened #193 "Environment variables correct usage"
I have found this issue: https://github.com/appleboy/drone-ssh/issues/135 and worked from there, I couldn't find this information in the DOCS: https://github.com/appleboy/drone-ssh/blob/master/DOCS.md

I'm trying to pass a variable to the  `script`. The current configuration works for me, I just don't know whether this is "best practice" or how to improve:

[code]
Instead of `environment` > `from_

[2022-07-21 15:14] Rainson12 opened #197 "all ssh executions fail eg "command not found""
[code]

the logs from drone:
[code]

however when logging in manually to the server commands like `echo "Replace dev container"`  work completely fine

[2022-07-21 15:57] #197 closed

[2022-08-31 10:21] wowuliao11 opened #199 "There are lots of empty error message!"
![image](https://user-images.githubusercontent.com/72588186/187656922-3f745490-1077-4bda-9fe4-58dba2cd8343.png)

But the last ,he tell me it's successful,and i really saw the output is right

![image](https://user-images.githubusercontent.com/72588186/187657286-a7f3a965-c537-4337-9c6d-68202ab75940.png)

This is my yml
[code]

please!😭

[2022-09-05 16:37] jeromecoupe commented on #199
This is causing the same issue in /appleboy/ssh-action: see issues [#174](https://github.com/appleboy/ssh-action/issues/174) and [#179 ](https://github.com/appleboy/ssh-action/issues/179)

[2022-09-06 02:16] wowuliao11 commented on #199
Thank you. That helps me a lot

[2022-09-06 02:17] wowuliao11 commented on #199
Thank you. That helps me a lot

[2022-09-06 02:17] #199 closed

[2022-09-09 12:47] CHunYenc commented on #193
Thanks @DennisGaida.

the code can work for me !

[code]

[2022-10-26 14:33] thematrixdev commented on #192
I am using `image: appleboy/drone-ssh`. How to pin the version to v0.1.4?
`image: appleboy/drone-ssh:v0.1.4` does not work.

[2022-10-28 02:23] Datawords-HK opened #202 "sending notification about build result"
I want to receive notification about build result (success or failed).

It seems the build result is not brought to the notification step.

![image](https://user-images.githubusercontent.com/110004165/198463772-240352e1-ab1f-4d89-866f-e79bec9874f0.png)

![image](https://user-images.githubusercontent.com/110004165/198463841-ba546a15-f718-412c-8310-f88fd868216d.png)

![telegram](https://user-images.

[2022-10-28 10:50] bbaulenas opened #203 "ssh: handshake failed: ssh: unable to authenticate"
Hi! I'm having an issue using key from secret, I have read all the posts from the issues but none of them works.

Error
[code]

.drone.yml
[code]

The value of ssh_key secret is the rsa string, is this ok?

Thank you!

[2022-10-28 13:22] bbaulenas commented on #203
I'm sorry. I misstyped the key.

It works perfectly. Sorry.

Thank you!

[2022-10-28 13:22] #203 closed

[2022-11-18 04:07] phiexz commented on #192
`0.1.4` is for `ssh-action`
if you're using `drone-ssh`,  pin version to `1.6.3`